body {
  text-align: center;
  overflow: hidden; /* Hide scrollbars */
  background-color: rgb(40, 40, 63);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:0px;
  margin-left: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 360px minmax(400px, 1fr) 360px;
    grid-template-rows: 30px auto 30px;
    grid-gap: 0;
    height: 100vh; /* Set the grid container height to 100% of the viewport height */
    
}

header,
aside,
article,
footer {
  background: #09f; /*grid division colors */
  padding: 1px;
}

header {
  /* Start on Row 1 */
  grid-row: 1;
  /* Start on the first column line and extend all the to the last column line */
  grid-column: 1 / 4;
}

.sidebar-left {
  /* Start on Row 2 */
  grid-row: 2;
  /* Start on the first column line and stop at the next column line */
  grid-column: 1 / 2;
}

article {
  /* Start on Row 2 */
  grid-row: 2;
  /* Start on the second column line and stop at the third column line */
  grid-column: 2 / 3;
}

.sidebar-right {
  /* Start on Row 2 */
  grid-row: 2;
  /* Start on the third column line and stop at the last column line */
  grid-column: 3 / 4;
}

footer {
  /* Start on Row 1 */
  grid-row: 3;
  /* Start on the first column line and extend all the to the last column line */
  grid-column: 1 / 4;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }