body {
    background-color: #11101d;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left: 20px;
  }

  .svg-icon {
    filter: invert(100%);
    width: 24px;
    height: 24px;
  }

  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height:65px;
    line-height: 1.2; /* Increase the line spacing between paragraphs */
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 5s ease infinite;
    background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
  }

  .press-start-2p-regular-menu {
    font-family: "Press Start 2P", system-ui;
    font-weight: 40;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height:16px;
    line-height: 1.2; /* Increase the line spacing between paragraphs */
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 5s ease infinite;
    background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
  }

  h1 {
    color: rgb(255, 136, 0);
    font-family: "Press Start 2P", system-ui;
    font-size: 300%;
  }

  h2 {
    color: rgb(244, 244, 247);
    font-family: "Press Start 2P", system-ui;
    font-size: 150%;
    text-align: center; /* Centering the images */
  }

  h3 {
    color: rgb(244, 244, 247);
    font-family: "Press Start 2P", system-ui;
    font-size: 100;
  }

  p, ul {
    color: rgb(250, 246, 246); /* Light color for text */
    font-family: system-ui, "Press Start 2P";
    font-size: 1.1em; /* Increase the font size for better readability */
    text-align: justify;
    line-height: 1.6; /* Increase the line spacing for better readability */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
    font-weight: 400; /* Adjust font weight (normal/bold) */
  }

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

li::marker {
  color: rgb(255, 253, 253);
  list-style-type: square;
  font-size: 24px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container{
  width: 100%;
  min-height: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#00000000;
}

.image-container {
  text-align: center; /* Centering the images */
}

.image-container img {
  display: inline-block; /* Ensures images are treated as inline-block elements */
}

.table_component {
  display: flex;
  justify-content: center; /* Center the table horizontally */
}

table {
  width: 100%; /* Auto width so that table takes its content width */
}

th {
  text-align: center; /* Centers the text inside each <th> */
  padding: 0px; /* Adds some padding to avoid text clumping */
  color: white; /* Sets the font color to white */
}


@keyframes move {
    0%,100%{
        background-position: 200% 0%;
    }

    50%{
        background-position: 0% 200%;
    }
}


