body {
    background-color: rgb(40, 40, 63);
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right:0px;
    margin-left: 0px;
  }

  .footer {
    background-color: rgb(90, 90, 201);
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right:0px;
    margin-left: 0px;
  }

  .menuLeft {
    background-color: rgb(79, 134, 179);
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right:0px;
    margin-left: 0px;
  }

  .menuRight {
    background-color: rgb(79, 134, 179);
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right:0px;
    margin-left: 0px;
  }

  h1 {
    color: rgb(255, 136, 0);
    font-family: verdana;
    font-size: 300%;
  }

  #title {
    text-align: center;
    color: #bc2e1e;
    background: #edde9c;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    border: 5px solid #1C6EA4;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 10px;
  }

  h2 {
    color: rgb(244, 244, 247);
    font-family: verdana;
    font-size: 200%;
  }

  p {
    color: rgb(250, 246, 246);
    font-family: courier;
    font-size: 100%;
    text-align: justify;
  }

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  li::marker {
    color: rgb(255, 253, 253);
    list-style-type: square;
    font-size: 24px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.container{
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00000000;
}

.text{
    font-weight: 600;
    font-size: 70px;
    line-height:65px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 5s ease infinite;
    background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
}

@keyframes move {
    0%,100%{
        background-position: 200% 0%;
    }

    50%{
        background-position: 0% 200%;
    }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #0c0836;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
